.wrapperVBoards {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.containerVBoards{
    margin-bottom: 70px;
    max-width: 1320px;
    width: 96%;
    display: flex;
    justify-content: space-between;
    position: relative;


}

.wrapperItemVBoard{
        
    margin-bottom: 52px;
    background-color: white;
    border-radius: 15px;
    width: calc((100% - 20px )/2);
    overflow: hidden;
}






@media screen and (max-width: 750px){ 

    .wrapperItemVBoard:nth-child(n+2){
        display: none;
    }


    .containerVBoard {
        flex-direction: column;
        justify-content: center;
    }

     .wrapperItemVBoard {
        width: 100%;
    }
}





@media screen and (max-width: 500px){

    

    .wrapperVBoards {
        width: 100%;
        display: flex;
        justify-content: center;
        

    }

    .containerVBoards {
        justify-content: center;
        margin: 20px 0 20px 0;
    }

    .wrapperItemVBoard {
        width: 298px;
 
    }

    
}