

.containerItemBoard{
    margin: 20px;
    position: relative;
    height: calc(390px - 40px);
}

.bannerItemBoard {
    width: 100%;
    background-color: #44B7C7;
    overflow: hidden;
    border-radius: 10px;
    height: 295px;
}

.headerBannerItemBoard {
position: absolute;
left: 22px;
top: 22px;
}


.titleBannerItemBoard {
    margin-bottom: 3px;

font-style: normal;
font-weight: bold;
font-size: 20px;
color: #0C0D0D;
}

.subtitleBannerItemBoard{

font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 18px;

color: #0C0D0D;
}


.coverBannerItemBoard {

    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.42) 16.67%, rgba(255, 255, 255, 0.18) 31.77%, rgba(255, 255, 255, 0) 46.88%);
// mix-blend-mode: normal;
object-fit: cover;
}



.authorItemBoard {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 22px;
    right: 22px;
    }


.authorAvatarItemBoard {
    cursor: pointer;
    user-select: none;
    background-color: #44B7C7;
    width: 43px;
    height: 43px;
    object-fit: cover;
    border-radius: 50%;  
   
}

.userImgItemBoard {
    cursor: pointer;
    user-select: none;
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    overflow: hidden;
    background-color: #44B7C7;
}

.authorNameItemBoard{
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    padding-right: 6px;
    width: 110px;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    text-align: right;
    color: #0C0D0D;
}

.infoItemBoard {
    margin-top: 20px;
display: flex;
justify-content: space-between;
}



.buttonItemBoard {
    margin-right: 10px;
    
font-style: normal;
font-weight: bold;
font-size: 16px;
text-align: center;
cursor: pointer;
user-select: none;

color: #44B7C7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 34px;
    border: 1.5px solid #44B7C7;
box-sizing: border-box;
border-radius: 10px;
transition: .4s;
&:hover {
    opacity: .6;
}
}

.statisticsItemBoard {
    display: flex;
    justify-content: center;
    align-items: center;
}



