

.containerItemProject {
    
    margin: 19px;
    position: relative;
    height: calc(390px - 38px) ;
    
    
   
}

.headerItemProject {
    position: relative;
    height: 260px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #44B7C7;
}

.coverItemProject{
    width: 100%;
    height: 260px;
    object-fit: cover;
    
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.42) 16.67%, rgba(255, 255, 255, 0.18) 31.77%, rgba(255, 255, 255, 0) 46.88%);
border-radius: 10px;

}

.authorItemProject {
display: flex;
justify-content: flex-start;
position: absolute;
top: 13px;
left: 13px;
}

.authorAvatarItemProject {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;  
    cursor: pointer;
    user-select: none;
    background-color: #44B7C7;
    

   
}

.authorNameItemProject{
    
    padding-left: 6px;
    width: 20px;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 17px;
    color: #0E0F0F;
}

.navItemProject {
    right: 13px;
    top: 13px;
    position: absolute;
    
}

.navLikesItemProject {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 13px;
    width: 32px;
height: 32px;
border-radius: 50%;
background: #FFFFFF;
box-shadow: -1px -0.5px 2px rgba(255, 255, 255, 0.4), 0.5px 1px 2px rgba(0, 0, 0, 0.4);
cursor: pointer ;
user-select: none;
transition: .4s;
&:hover {
    transform: scale(1.18);
    
}
}

.navFavoritesItemProject{
cursor: pointer ;
user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
height: 32px;
border-radius: 50%;
background: #FFFFFF;
box-shadow: -1px -0.5px 2px rgba(255, 255, 255, 0.4), 0.5px 1px 2px rgba(0, 0, 0, 0.4);
transition: .4s;
&:hover {
    transform: scale(1.18);
    
}
}

.titleItemProject {
  
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 18px;
margin-bottom: 2px;
margin-top: 13px;

color: #202222;
}

.categoryItemProject {
    
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    
    color: #202222;
}

.addressItemProject {
   width: 150px;
   white-space :nowrap ;
   overflow: hidden;
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 13px;
position: absolute;
bottom: 0;
left: 0;
color: #202222;
}

.priceItemProject {


font-style: normal;
font-weight: bold;
font-size: 22px;

text-align: right;
position: absolute;
color: #44B7C7;
bottom: -2px;
right: 0;
}

