.wrapperBoards {
    width: 100%;

    display: flex;
    justify-content: center;
    position: relative;
    
}

.containerBoards{

    margin-bottom: 70px;
    max-width: 1320px;
    width: 96%;
    display: flex;
    justify-content: space-between;
    position: relative;


}

.wrapperItemBoard{
        
    margin-bottom: 52px;
    background-color: white;
    border-radius: 15px;
    width: calc((100% - 20px )/2);
}




@media screen and (max-width: 850px){ 

    .wrapperItemBoard:nth-child(n+2){
        display: none;
    }


    .containeBoards {
        flex-direction: column;
        justify-content: center;
    }

     .wrapperItemBoard {
        width: 100%;
    }
}

@media screen and (max-width: 500px){ 
    .wrapperBoards {
        display: none;
    }
}