 .wrapperScrollPage {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 30px 0;
 }

 .containerScrollPage {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 585px;
    width: 96%;
 }

   .itemScrollPage {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: .4;
        &:hover {
            color:  #44B7C7;
        }
   }


   @media screen and (max-width: 500px){ 
      .wrapperScrollPage {
          display: none;
      }
  }