

.containerItemVBoard{
    margin: 20px;
    position: relative;
    height: calc(390px - 30px);
}

.bannerItemVBoard {
    width: 100%;
}

.headerBannerItemVBoard {
position: absolute;
left: 22px;
top: 22px;
}

.btnCloseVideoPlayerItemVBoard {
    position: absolute;
    left: 12px;
top: 12px;
    background-color: white;
    color: #44B7C7;
    border: 1px solid #44B7C7;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
height: 42px;
border-radius: 15px;
cursor: pointer;
user-select: none;
transition: .4;
&:hover {
    opacity: .6;
}

svg {
    fill:#44B7C7;
}

}




.titleBannerItemVBoard {
    margin-bottom: 3px;

font-style: normal;
font-weight: bold;
font-size: 20px;
color: #0C0D0D;
}

.descriptionBannerItemVBoard{

font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 18px;

color: #0C0D0D;
}


.coverBannerItemVBoard {

    width: 100%;
    height: 295px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.42) 16.67%, rgba(255, 255, 255, 0.18) 31.77%, rgba(255, 255, 255, 0) 46.88%);
mix-blend-mode: normal;
border-radius: 10px;
object-fit: cover;
}

.videoPlayerItemVBoard {
    position: relative;
    width: 100%;
    height: 295px; 
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.videoPlayer {
    
    background-color: black;
    border-radius: 10px;
    object-fit: cover;
}





.authorItemVBoard {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 22px;
    right: 22px;
    }


.authorAvatarItemVBoard {
    cursor: pointer;
    user-select: none;
    background-color: #44B7C7;

    width: 43px;
    height: 43px;
    object-fit: cover;
    border-radius: 50%;  
   
}

.authorNameItemVBoard{
    cursor: pointer;
    text-align: right;
    padding-right: 6px;
    width: 110px;
    
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    text-align: right;
    color: #0C0D0D;
}

.infoItemVBoard {
    margin-top: 20px;
display: flex;
justify-content: space-between;
}



.buttonItemVBoard {
    margin-right: 10px;
    
font-style: normal;
font-weight: bold;
font-size: 16px;
text-align: center;
cursor: pointer;
user-select: none;

color: #44B7C7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 34px;
    border: 1.5px solid #44B7C7;
box-sizing: border-box;
border-radius: 10px;
transition: .4s;
&:hover {
    opacity: .6;
}
}

.statisticsItemVBoard {
    display: flex;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width: 500px){
    .authorItemVBoard {
        
        top: calc(22px + 210px);
    }
}