

.containerItemPodcast {
    margin: 20px;
    position: relative;
    height: calc(390px - 40px);
    display: flex; 
    justify-content: space-between;

}

.bannerItemPodcast {
    position: relative;
    width: 52%;
    height: 350px;
    background-color: #44B7C7;
    border-radius: 10px;
    overflow: hidden;

}

.CoverBannerItemPodcast{
    
    width: 100%;
    height: 350px;
    object-fit: cover;
    
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.42) 16.67%, rgba(255, 255, 255, 0.18) 31.77%, rgba(255, 255, 255, 0) 46.88%);


}

.audioPlayerItemPodcast {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 350px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(62, 66, 58, 0.6);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleAudioPlayerItemPodcast {
    position: absolute;
    top: 18px;
    left: 20px;
    font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 22px;

color: #FFFFFF;
}

.closeAudioPlayerItemPodcast {
    
    position: absolute;
    width: 42px;
height: 42px;
background-color: white;
    border: 1px solid #44B7C7;
    box-sizing: border-box;
border-radius: 15px;

display: flex;
justify-content: center;
align-items: center;
right: 10px;
top: 12px;
cursor: pointer;
user-select: none;
transition: .4;
&:hover {
    opacity: .6;
}
svg {
    fill: #44B7C7;;
}

}

.navAudioPlayerItemPodcast {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;

    svg {
        cursor: pointer;
        user-select: none;
        transition: .4;
&:hover {
    opacity: .6;
}
    }

}

.blockProgressAudioPlayerItemPodcast {
    position: absolute;
    width: calc(100% - 20px);
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.progressAudioPlayerItemPodcast {
   
width: 100%;
margin: 0;
border-radius: 8px;
    height: 5px;
    outline: none;
    -webkit-appearance: none;
   
}

.progressAudioPlayerItemPodcast[type=range]::-webkit-slider-thumb {
    height: 10px;
    width: 10px;
    border-radius: 2px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
   
  }


.timeAudioPlayerItemPodcast {
    width: 100%;
display: flex;
justify-content: space-between;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;
user-select: none;
p {
    margin: 0px 2px;
    
}

}

#audioPlayer {
    display:  none;
}


.titleBannerItemPodcast{
    top: 18px;
    left: 20px;
    
    position: absolute;
    cursor: pointer;
    user-select: none;
font-style: normal;
font-weight: bold;
font-size: 16px;

text-align: center;
color: #202222;
width: 174px;
height: 34px;
background: #FFFFFF;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;

transition: .4;
&:hover {
    opacity: .6;
}

}

.flagBannerItemPodcast {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;  
    position: absolute;
    left: 20px;
    bottom: 20px;
    filter: drop-shadow(-0.5px -1px 2px rgba(255, 255, 255, 0.4)), drop-shadow(0.5px 1px 2px rgba(0, 0, 0, 0.3));
}


.authorItemPodcast {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    bottom: 20px;
    right: 20px;
    }
    
    .authorAvatarItemPodcast {
        width: 32px;
        height: 32px;
        object-fit: cover;
        border-radius: 50%;  
        cursor: pointer;
        user-select: none;
        background-color: #44B7C7;
       
    }
    
    .authorNameItemPodcast{
        cursor: pointer;
      text-align: right;
        padding-right: 6px;
        width: 110px;
        display: flex;
    flex-direction: row-reverse;
        
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 17px;
        color: #0E0F0F;
    }

    .infoItemPodcast {
        width: calc(100% - 52% - 20px);
        margin-left:  20px  ;

    }

    .titleItemPodcast {
        margin-bottom: 12px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
        
        color: #202222;
    }

    .descriptionItemPodcast {
        margin-bottom: 10px;
        
        display: -webkit-box;
-webkit-line-clamp: 9;
-webkit-box-orient: vertical;
overflow: hidden;
font-style: normal;
font-weight: 300;
font-size: 16px;


color: #202222;
    }

    .guestsItemPodcast{
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        
        margin-bottom: 10px;
        overflow: hidden;
        font-style: normal;
font-weight: 300;
font-size: 16px;
    }

    .itemGuestItemPodcast{
        padding-right: 5px;
        white-space: nowrap;
       cursor: pointer;

        
    }

    .statisticsItemPodcast{
        width: calc(100% - 52% - 20px);
        position: absolute;
    bottom: 1px;
    }

    @media screen and (max-width: 975px){ 
        .bannerItemPodcast {
            width: 38%;
        }

        .infoItemPodcast {
            width: calc(100% - 38% - 20px);
        }

        .statisticsItemPodcast{
            width: calc(100% - 38% - 20px);
        }
    }


    @media screen and (max-width: 650px){ 
        .bannerItemPodcast {
            width: 52%;
        }

        .infoItemPodcast {
            width: calc(100% - 52% - 20px);
        }

        .statisticsItemPodcast{
            width: calc(100% - 52% - 20px);
        }
    }



    @media screen and (max-width: 500px){
    
   
   

        .containerItemPodcast {
            justify-content: flex-start;
            flex-direction: column;
            height: calc(740px - 40px);
        }

        .infoItemPodcast {
            width: 100%;
            margin-left: 0  ;
            margin-top:  10px;
        }

        .bannerItemPodcast {
            width: 100%;
        }

        .statisticsItemPodcast{
            width: calc(100% - 50% - 20px);
            bottom: -5px;
            right: 100px;
        }

        .descriptionItemPodcast {
            -webkit-line-clamp: 8;
        }
        
    }
    