.wrapperModalArticle {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(62, 66, 58, 0.3);
    justify-content: center;
    display: flex;
    align-items: center;
}

.containerModalArticle {
    max-width: 1320px;
    padding: 20px;
    box-sizing: border-box;
    width: 80%;
    // max-height: 85%;
    background: #FFFFFF;
box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.4), 4px 4px 8px rgba(0, 0, 0, 0.08);
border-radius: 20px;
position: relative;
}


.titleModalArticle {
    margin-bottom: 20px ;

font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 22px;
text-align: center;
display: flex;
justify-content: center;
color: #44B7C7;
}

.wrapperParagraphModalArticle {
    max-height: 60vh;
    overflow: scroll;
    border-radius: 25px;

}

// .paragraphTextModalArticle{
//     text-indent: 30px;
// }


.paragraphModalArticle {
    margin-bottom: 40px;
    
    display: flex;
    justify-content: flex-start;
    &:last-child {
        margin-bottom:  0;
    }
}

.paragraphModalArticle:nth-child(2n) {
    flex-direction: row-reverse;
        justify-content: space-between;
   
    
    .wrapperSliderModalArticle{
        margin: 0 0 0 20px;
    }

    
}

.wrapperSliderModalArticle{
    width: 350px;
    height: 350px;
    margin: 0 20px 0 0 ;
    border-radius: 15px;
    
    
    

}

.sliderSlictModalArticle{
    width: 350px;
    height: 350px;
    background-color: #44B7C7;
    border-radius: 15px;
    
    overflow: hidden;
    position: relative;
}

.imgSliderModalArticle {
    width: 350px;
    height: 350px;
    overflow: hidden;
    object-fit: cover;

}



.slickDotsModalArticle {
    

 bottom: 42.5%;
    position: absolute;
    max-width: 600px;
    width: 96%;
    
    right: -150px;
    
    transform: translateX(-50%);
    transform: rotate(90deg);
}

.slickDotsModalArticle ul li {
    margin: 6px;
    font-size: 0;
    width: calc((100% / 4) - 12px);
    cursor: pointer;
    user-select: none;
    opacity: .4;
    &:hover {
        opacity: 1;
    }
}

.slickDotsModalArticle  ul .slick-active{
    opacity: 1;
     
}






 .infoModalArticle {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 20px ;
     
 }


 .authorModalArticle {
    display: flex;
    align-items: center;
    justify-content: center;
   
 }

 .authorAvatarModalArticle {
    width: 42px;
    height: 42px;
    
    border-radius: 50px;
 }

 .authorNameModalArticle {
     padding-left: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    
    text-align: right;
    
    color: #202222;
 }


.closeModalArticle {
    
        position: absolute;
        width: 42px;
    height: 42px;
    background-color: #202222;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    right: -60px;
    top: -60px;
    cursor: pointer;
    user-select: none;
    transition: .4;
    &:hover {
        opacity: .6;
    }
    svg {
        fill: #ffffff;
    }

}

