.containerDescriptionProfileUser {
position: absolute;
right: 0;
}

.overlayProfileUser{
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
}

.overlayProfileUser.active {
    
    transform: translateX(0);
    backdrop-filter: blur(2.5px);
    
} 

.descriptionProfileUser {
    
    padding: 15px;
    box-sizing: border-box;
    
    margin: 19px;
    width: 260px;
    height: 348px;   
    background: #FFFFFF;
border-radius: 10px;
 position: relative;
//  transition: 1s;
 overflow: hidden;
 column-gap: 20px;
 column-width: 234px;
 column-fill: auto;
 
 
}

.descriptionProfileUser.active {
    z-index: 1000;
    padding: 15px 13px;
    box-sizing: border-box;
    width: calc((234px * 3) + 70px);  
    .textDescriptionProfileUser{
        height: 909px;
     }
}

.textDescriptionProfileUser {
    height: 270px;
    overflow: hidden;
      text-overflow: ellipsis;
     
}


.titleDescriptionProfileUser {

font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 18px;

color: #44B7C7;

}


.bodyDescriptionProfileUser {
    
    padding: 5px 0 10px 0;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 13px;
    color: #202222;
    

}

 .btnDescriptionProfileUser {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 57px;
    height: 32px;
    cursor: pointer;
    user-select: none;
    background: #44B7C7;
    border-radius: 10px;
    transition: .4s;
    &:hover {
        opacity: .6;
    }
 }


 @media screen and (max-width: 950px){ 
    .containerDescriptionProfileUser {
        display: none;
    }
}