.wrapperHeader {
    width: 100%;
    background-color:  #FFFFFF;
    
}

.conteinerHeader {
    max-width: 1320px;
    height: 75px;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.headerLogo{
    display: flex;
    justify-content: flex-start;
    
}

.logoTeamwise {
    margin: auto 0;
    user-select: none;
    cursor: pointer;
}
.nameHeader {
    padding-left: 13px;
    margin: auto 0;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #202222;
    
}



.headerSearch {
    width: 46%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
        width: 100%;
        padding: 11.5px 0 11.5px 45px;
        border: 1.5px solid #F1F1F1;
        box-sizing: border-box;
        border-radius: 15px;
        &:focus {
            outline:none;
        }
    }
}

.headerSearchImg {
    position: absolute;
    left: 13px;
    transition: .4s;
    &:hover {
        opacity: .6;
       fill: #44B7C7;
    }
}

.headerBlock {
    display: flex;
    
}



.headerNav {
    padding-left: 20px ;
    width: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   a {

       text-decoration: none;
       white-space:  nowrap;
      
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        color: #44B7C7;
       margin: auto 0;
       padding-right: 19px;
       transition: .6s;
       &:hover {
        text-decoration: underline;
       }
   }
}

.headerAuthInteractions{
    display: flex;
    padding: 0 55px ;
    justify-content: flex-start;
    align-items: center;
}


.itemInteraction {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background: #F1F1F1;
border-radius: 15px;
    background-position: center;
    margin: 0 5px;
    position: relative;
    user-select: none;
        cursor: pointer;
    transition: .4s;
        &:hover {
            opacity: .6;
            transform: scale(1.18);
        }
        
}

.qtyItemInteraction {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    background: #44B7C7;
    border-radius: 50% ;
    
    right: -5px;
    top: -5px;
    font-style: normal;
    font-weight: 800;
    font-size: 10px;

    text-align: center;

    color: #FFFFFF;
            }

.itemUserHeader {
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    position: relative;
    
   
}

.bgItemUserHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50px;
    width: 42px;
    height: 42px;
    background-color: #202222;
    transition: .4s;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &.active {
        background-color: #44B7C7;
        user-select: none;
        cursor: pointer;
        &:hover {
            opacity: .6;
            
        }
    }
    
}

.headerItemUserDropdown {
    position: absolute;
    width: 316px;
    height: 420px;
    padding: 25px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.4), 4px 4px 8px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    z-index: 10;
    left: calc(100% - 307px);
    transform: translate(calc(100% - 316px), calc(50% + 50px));

    &.active {
        display: none;
    }
}

.overlayHeaderDropdown {
    left: 0;
    top: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);

    &.active {
        transform: translateX(0);
    
    }
}

.soundMessage {
position: absolute;
}


@media screen and (max-width: 800px){
    
    .headerSearch {
        display: none;
    }


}

@media screen and (max-width: 900px){

    
    .nameHeader{
        display: none;
    }

    .headerAuthInteractions{
        padding: 0 5px;
    }

}