
.wrapperThreejs {

width: 100vw;
height: calc(100vh - 75px);


}

.blockQtyFigures {
    position: absolute;
    left: 25px;
        top: 100px;

}


.blockAnimations {
    position: absolute;
    right: 25px;
        top: 100px;
        width: 390px;
        display : flex;
        justify-content: space-between;
}


.btnAnimation {

    padding: 10px ;
    
    width: 100px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: black;
    border: 1.5px solid #A2A2A2;
    border-radius: 20px;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    &:hover {
        opacity: .6;
    }

    &:active {
        opacity: 1;
        border: 1.5px solid #44B7C7;
        background-color: #44B7C7;
    }

}