.wrapperWatch {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.containerWatch{
    margin-bottom: 70px;
    max-width: 1320px;
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.itemWatch {
    background-color: #44B7C7;
    width: calc((100% - 60px) / 4);
    height: 375px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    img {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }

}

.itemWatchText {
    position: absolute;
    margin: 0 19px;
    top: 19px;
    
    h1 {
    margin: 0;
    margin-bottom: 6px;
    
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    color: #202222;

    }
    p {
        margin: 0;
        
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 20px;
        color: #202222;
    }
}

.itemWatchBtn {
    position: absolute;
    width: 76px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 19px;
    background: #FFFFFF;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
    cursor: pointer;
    
    &:hover {
        opacity: .7;
    }

    
font-style: normal;
font-weight: bold;
font-size: 16px;
text-align: center;

color: #202222;

}


@media screen and (max-width: 924px){ 

    .itemWatch {
        width: calc((100% - 20px) / 2);
       &:nth-child(-n+2) {
            margin-bottom: 20px;
       }
       height: 325px;
    }
}


@media screen and (max-width: 500px){

    .itemWatch {
      width: 298px;
      margin-bottom: 20px;
    }  

    .containerWatch {
        justify-content: center; 
        margin: 10px 0 0 0;
    }

    
    
}