.wrapperModalBoard {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(62, 66, 58, 0.3);
    justify-content: center;
    display: flex;
    align-items: center;
}



.containerModalBoard  {
    max-width: 1320px;
    padding: 20px;
    box-sizing: border-box;
    width: 80%;
    
    background: #FFFFFF;
box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.4), 4px 4px 8px rgba(0, 0, 0, 0.08);
border-radius: 20px;
position: relative;
}

.headerModalBoard{
display: flex;
justify-content: space-between;
}


.nameModalBoard{
    margin-bottom: 20px;
}

    .titleModalBoard {
        margin-bottom: 3px;
    
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #0C0D0D;
    }
    
    .subtitleModalBoard{
    
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    
    color: #0C0D0D;
    }

    .authorModalBoard {
        
        display: flex;
        
        }
    
    
    .authorAvatarModalBoard{
        width: 43px;
        height: 43px;
        object-fit: cover;
        border-radius: 50%;  
       
    }
    
    .authorNameModalBoard{
        text-align: right;
        padding-right: 6px;
        width: 110px;
        
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 22px;
        text-align: right;
        color: #0C0D0D;
    }

    .bodyModalBoard {
        height: 620px;
        border-radius: 10px;
        
       &.active {
        height: 665px;
        overflow: scroll;
       }
    }

    .imgBannerModalBoard {
        width: 100%;
        height: 620px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.42) 16.67%, rgba(255, 255, 255, 0.18) 31.77%, rgba(255, 255, 255, 0) 46.88%);
    mix-blend-mode: normal;
    object-fit: cover;
    border-radius: 10px;
    background-color: #C4C4C4;
    }


    .descriptionModalBoard {
        font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 20px;
margin-top: 20px;
color: #202222;
    }


    .infoModalBoard {
        margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    }

    .statisticsModalBoard{
            display: flex;
            justify-content: center;
            align-items: center;
        
    }







.closeModalBoard {
    position: absolute;
    width: 42px;
height: 42px;
background-color: #202222;
border-radius: 15px;

display: flex;
justify-content: center;
align-items: center;
right: -60px;
top: -60px;
cursor: pointer;
user-select: none;
transition: .4;
&:hover {
    opacity: .6;
}
svg {
    fill: #ffffff;
}
}