
.infoBlockProfileUser{
    position: absolute;
    bottom: 23px;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}

.btnProfileUser {
    margin: 0 6px;
    background-color: #44B7C7;;
    width: 68px;
    height: 26px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
user-select: none;

    box-shadow: -0.5px -1px 2px #44B7C7, 0.5px 1px 2px rgba(0, 0, 0, 0.3);
font-style: normal;
font-weight: bold;
font-size: 12px;
text-align: center;
border: 1px solid #44B7C7;;
color: white;

}



.btnAreasProfileUser {
    margin: 0 6px;
    background-color: white;
    width: 68px;
    height: 26px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
user-select: none;
cursor: pointer;
    box-shadow: -0.5px -1px 2px rgba(255, 255, 255, 0.5), 0.5px 1px 2px rgba(0, 0, 0, 0.3);
font-style: normal;
font-weight: bold;
font-size: 12px;
text-align: center;
border: 1px solid white;
color: #202222;
transition: .4s;
&:hover {
    opacity: .6;
}
}


.btnServicesProfileUser {
    margin: 0 6px;
    background-color: white;
    width: 68px;
    height: 26px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
user-select: none;
cursor: pointer;
    box-shadow: -0.5px -1px 2px rgba(255, 255, 255, 0.5), 0.5px 1px 2px rgba(0, 0, 0, 0.3);
font-style: normal;
font-weight: bold;
font-size: 12px;
text-align: center;
border: 1px solid white;
color: #202222;
transition: .4s;
&:hover {
    opacity: .6;
}
}

.btnFollowProfileUser {
    margin: 0 6px;
    background-color: #202222;
    width: 68px;
    height: 26px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
user-select: none;
cursor: pointer;
    box-shadow: -0.5px -1px 2px rgba(255, 255, 255, 0.5), 0.5px 1px 2px rgba(0, 0, 0, 0.3);
font-style: normal;
font-weight: bold;
font-size: 12px;
text-align: center;
color: white;
border: 1px solid #202222;
transition: .4s;
&:hover {
    opacity: .6;
}
&.active {
    color: #202222;
    background-color: white;
    border: 1px solid #202222;
}
}



.overlayProfileUser{
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
}

.overlayProfileUser.active {
    transform: translateX(0);
    backdrop-filter: blur(2.5px);
    
} 



.deployedAreasProfileUser {
    padding: 15px;
    box-sizing: border-box;
    z-index: 1000;
    position: absolute;
    justify-content: center;
    bottom: 23px;
    left: calc(50% - 136px);
    transform: translateX(-50%);
    width: 260px;
height: 348px;
    background: #FFFFFF;
box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.4), 4px 4px 8px rgba(0, 0, 0, 0.08);
border-radius: 10px;
&.active {
    display: none;
}
}


    .btnDeployedAreas {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        position: absolute;
        right: 15px;
        bottom: 15px;
        width: 57px;
        height: 32px;
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
        background: #44B7C7;
        border-radius: 10px;
        transition: .4s;
    }




.deployedServicesProfileUser {
    padding: 15px;
    box-sizing: border-box;
    z-index: 1000;
    position: absolute;
    bottom: 23px;
    justify-content: center;
    left: calc(50% + 136px);
    transform: translateX(-50%);
    width: 260px;
height: 348px;
    background: #FFFFFF;
box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.4), 4px 4px 8px rgba(0, 0, 0, 0.08);
border-radius: 10px;
&.active {
    display: none;
}
}

.btnDeployedServices {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    position: absolute;
    left: 15px;
    bottom: 15px;
    width: 57px;
    height: 32px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background: #44B7C7;
    border-radius: 10px;
    transition: .4s;
}






.titleDeployedInfoBlockProfileUser{
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 18px;
color: #44B7C7; 
}

.bodyDeployedInfoBlockProfileUser {
    margin-top: 5px;
    font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 14px;

text-align: justify;

color: #202222;



}

@media screen and (max-width: 950px){ 

    .infoBlockProfileUser {
        left: calc(100% - 10px);
        transform: translateX(-100%);
    }
}