.containerItemArticle {
    margin: 20px;
    position: relative;
    height: calc(390px - 40px);
    display: flex; 
    justify-content: space-between;

}

.bannerItemArticle {
    position: relative;
    width: 43%;
    overflow: hidden;
    height: 350px;
    border-radius: 10px;
    background-color: #44B7C7;

    
}

.CoverBannerItemArticle{
     width: 100%;
    height: 350px;
    object-fit: cover;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.42) 16.67%, rgba(255, 255, 255, 0.18) 31.77%, rgba(255, 255, 255, 0) 46.88%);

}


.titleBannerItemArticle{
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
font-style: normal;
font-weight: bold;
font-size: 16px;
text-align: center;
color: #202222;
width: 134px;
height: 34px;
background: #FFFFFF;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
user-select: none;
transition: .4s;
&:hover {
    opacity: .6;
}

}


.authorItemArticle {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    bottom: 20px;
    left: 20px;
    }
    
    .authorAvatarItemArticle {
        background-color: #44B7C7;
        cursor: pointer;
        user-select: none;
        width: 32px;
        height: width;
        object-fit: cover;
        border-radius: 50%;  

       
    }
    
    .authorNameItemArticle{
        cursor: pointer;
        user-select: none;
        padding-left: 6px;
        width: 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 17px;
        color: #0E0F0F;
    }

    .infoItemArticle {
        width: calc(100% - 43% - 20px);
        margin-left:  20px  ;

    }

    .titleItemArticle {
        margin-bottom: 20px;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
overflow: hidden;
color: #44B7C7;
    }

    .descriptionItemArticle {
font-style: normal;
font-weight: 300;
font-size: 16px;

display: -webkit-box;
-webkit-line-clamp: 12;
-webkit-box-orient: vertical;
overflow: hidden;
color: #202222;
    }

    .statisticsItemArticle{
        width: calc(100% - 43% - 20px);
        position: absolute;
    bottom: 1px;
    }


    @media screen and (max-width: 500px){
    
   
   

        .containerItemArticle {
            justify-content: flex-start;
            flex-direction: column;
            height: calc(740px - 40px);
        }

        .infoItemArticle {
            width: 100%;
            margin-left: 0  ;
            margin-top:  10px;
        }

        .bannerItemArticle {
            width: 100%;
        }

        .statisticsItemArticle{
            width: calc(100% - 50% - 20px);
            bottom: -5px;
            right: 100px;
        }

        .descriptionItemArticle {
            -webkit-line-clamp: 8;
        }
        
    }